          <% include modal %>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="eventosSidebar">
              <div class="seccionEventosSidebar">
                <h2>Noticias</h2>
                <ul class="seccionNuevasNoticias">
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a href="#alertModal" data-toggle="modal" class="noticiasImg">
                          <img alt="img" src="images/eventos/3.jpg" class="media-object">
                        </a>
                      </div>
                      <div class="media-body">
                       <a href="#alertModal" data-toggle="modal">Conferencia de Prensa</a>
                       <span class="fechaNoticia">17/May/16</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a href="#alertModal" data-toggle="modal" class="noticiasImg">
                          <img alt="img" src="images/eventos/4.jpg" class="media-object">
                        </a>
                      </div>
                      <div class="media-body">
                       <a href="#alertModal" data-toggle="modal">Videoconferencia Intercampus</a>
                       <span class="fechaNoticia">21/Abr/16</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a href="#alertModal" data-toggle="modal" class="noticiasImg">
                          <img alt="img" src="images/eventos/5.jpg" class="media-object">
                        </a>
                      </div>
                      <div class="media-body">
                       <a href="#alertModal" data-toggle="modal">Via Crucis</a>
                       <span class="fechaNoticia">22/Mar/16</span>
                      </div>
                    </div>
                  </li>
                </ul>
                   <a class="verTodos" href="#alertModal" data-toggle="modal">Ver más</a>
              </div>
              <div class="seccionEventosSidebar">
                <h2>Carreras</h2>
                <ul>
                  <li><a href="#alertModal" data-toggle="modal">Ingeniería Informática</a></li>
                  <li><a href="#alertModal" data-toggle="modal">Administración de Empresas</a></li>
                  <li><a href="#alertModal" data-toggle="modal">Ciencias Contables</a></li>
                  <li><a href="#alertModal" data-toggle="modal">Comercio Internacional</a></li>
                  <li><a href="#alertModal" data-toggle="modal">Derecho</a></li>
                  <li><a href="#alertModal" data-toggle="modal">Marketing</a></li>
                  <li><a href="#alertModal" data-toggle="modal">Enfermeria</a></li>
                  <li><a href="#alertModal" data-toggle="modal">Nutrición</a></li>
                  <li><a href="#alertModal" data-toggle="modal">Trabajo Social</a></li>
                </ul>
              </div>
            </div>
          </div>
