          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="eventosSidebar">
              <div class="seccionEventosSidebar">
                <h2>Noticias <span class="fa fa-angle-double-right"></span></h2>
                <ul class="seccionNuevasNoticias">
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a href="#" class="noticiasImg" target="_blank">
                          <img alt="img" src="images/eventos/3.jpg" class="media-object">
                        </a>
                      </div>
                      <div class="media-body">
                       <a href="#" target="_blank">Conferencia de Prensa</a>
                       <span class="fechaNoticia">17/May/16</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a href="#" class="noticiasImg" target="_blank">
                          <img alt="img" src="images/eventos/4.jpg" class="media-object">
                        </a>
                      </div>
                      <div class="media-body">
                       <a href="#" target="_blank">Videoconferencia Intercampus</a>
                       <span class="fechaNoticia">21/Abr/16</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a href="#" class="noticiasImg" target="_blank">
                          <img alt="img" src="images/eventos/5.jpg" class="media-object">
                        </a>
                      </div>
                      <div class="media-body">
                       <a href="#" target="_blank">Via Crucis</a>
                       <span class="fechaNoticia">22/Mar/16</span>
                      </div>
                    </div>
                  </li>
                </ul>
                   <a class="verTodos" href="lista-eventos">Ver más</a>
              </div>
              <div class="seccionEventosSidebar">
                <h2>Carreras <span class="fa fa-angle-double-right"></span></h2>
                <ul>
                  <li><a href="#">Ingeniería Informática</a></li>
                  <li><a href="#">Administración de Empresas</a></li>
                  <li><a href="#">Ciencias Contables</a></li>
                  <li><a href="#">Comercio Internacional</a></li>
                  <li><a href="#">Derecho</a></li>
                  <li><a href="#">Marketing</a></li>
                  <li><a href="#">Enfermeria</a></li>
                  <li><a href="#">Nutrición</a></li>
                  <li><a href="#">Trabajo Social</a></li>
                </ul>
              </div>
            </div>
          </div>
