<footer id="footer">
     <div class="footer_top">
        <div class="container">
          <div class="row">
            <div class="col-ld-4  col-md-4 col-sm-4">
              <div class="footerUniversidad">
                <h3>LA UNIVERSIDAD</h3>
                <ul class="footerUniversidadMenu">
                  <li><a href="/">Inicio</a></li>
                  <li><a href="admision">Admisión</a></li>
                  <li><a href="carreras">Carreras</a></li>
                  <li><a href="lista-eventos">Eventos</a></li>
                  <li><a href="galeria">Galería</a></li>
                  <li><a href="unidadpedagogica">Unidad Pedagógica (San Ignacio Misiones)</a></li>
                  <li><a href="nuestra-historia">Nuestra historia</a></li>
                  <li><a href="identidad">Identidad</a></li>
                  <li><a href="autoridades">Autoridades</a></li>
                  <li><a href="404">Sedes y Campus</a></li>
                  <li><a href="contacto">Contacto</a></li>
                </ul>
              </div>
            </div>
            <div class="col-ld-4  col-md-4 col-sm-4">
              <div class="footerUniversidad">
                <div class="direccionyContacto wow">
                  <h3>DIRECCIÓN Y CONTACTO</h3><br>
                  <div class="direccionContacto">
                    <p><i class="fa fa-map-marker"></i> San Ignacio Misiones, Paraguay</p>
                    <p><i class="fa fa-car"></i> Ruta IV, Km. 2 e/ Teodoro Brusquetti y Padre Boix</p>
                    <p><i class="fa fa-phone"></i> Teléfono: (0782) 232 351</p>
                    <p><i class="fa fa-envelope-o"></i> Email: ucasig@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-ld-4  col-md-4 col-sm-4">
              <div class="footerUniversidad">
                <h3>También estamos en:</h3>
                <ul class="footerRedesSociales">
                  <li><a title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a title="Google+" href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footerBottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="footerBottomIzq">
                <p> Copyright &copy; Todos los derechos reservados</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="footerBottomDer">
                <p class="fa fa-university"> UCASI - 2016</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
