  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> <%= title  %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css" media="screen" title="no title" charset="utf-8">
    <link href="stylesheets/slick.css" rel="stylesheet">
    <link rel="stylesheet prefetch" href="https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/css/jquery.circliful.css">
    <link type="text/css" media="all" rel="stylesheet" href="stylesheets/jquery.tosrus.all.css">
    <link href="stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/superslides/0.6.2/stylesheets/superslides.css">
  </head>
