<!DOCTYPE html>
<html lang="es">
  <% include partials/head %>
  <body>
    <a class="volverArriba" href="#" data-toggle="tooltip" data-placement="top" title="Volver arriba"></a>
    <% include partials/navbar %>
    <section id="slider">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="areaSlider">
            <div id="slides">
              <ul class="slides-container">
                <li>
                  <img src="images/slider/slider-01.jpg" alt="img">
                  <div class="areaSliderCenter">
                    <h2>Bienvenidos</h2>
                    <p>Universidad Católica "Nuestra Señora de la Asunción"<br>Unidad Pedagógica San Ignacio Misiones</p>
                    <p>"La tradición de formar a los mejores"</p>
                    <a class="botonSlider" href="#sobreNosotros">¿Quiénes somos?</a>
                  </div>
                </li>
                <li>
                  <img src="images/slider/slider-02.jpg" alt="img">
                  <div class="areaSliderCenter areaSliderRight">
                    <h2>Tu futuro depende de la educación que recibís</h2>
                    <p>Elegir la carrera universitaria adecuada es importante porque dependerá de esa elección la calidad de profesional que será el individuo.<br>La elección de una carrera universitaria es una de las decisiones más importante en la vida de un estudiante. Determinar qué carrera es adecuada es una decisión difícil y personal, en la que nadie puede ayudarte a decidir.</p>
                    <a class="botonSlider" href="#sobreNosotros">¿Quiénes somos?</a>
                  </div>
                </li>
                <li>
                  <img src="images/slider/slider-03.jpg" alt="img">
                  <div class="areaSliderCenter">
                    <h2>BUSCÁ LO MEJOR PARA VOS</h2>
                    <p>Nosotros te ofrecemos la mejor educación, con profesores de alto nivel.<br>¿Por qué?<br> ¡Porque la educación te da poder!</p>
                    <a class="botonSlider" href="#sobreNosotros">¿Quiénes somos?</a>
                  </div>
                </li>
              </ul>
              <nav class="slides-navigation">
                <a href="#" class="next"></a>
                <a href="#" class="prev"></a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="sobreNosotros">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="seccionSobreNosotros wow fadeInLeft">
              <h2 class="titulo">Unidad Pedagógica San Ignacio Guazú - Misiones</h2>
              <p>La Universidad Católica “Nuestra Señora de la Asunción”, servicio y contribución de la Iglesia, es una institución educativa, sin fines de lucro, creada por la Conferencia Episcopal Paraguaya y erigida por la Santa Sede, que tiene por finalidad consagrarse sin reserva a la causa de la Verdad, sirviendo a la dignidad del hombre y a la causa de la Iglesia.</p>
              <p>En la Adquisición de conocimientos útiles, La Universidad Católica se distingue por su libre búsqueda de toda la Verdad acerca de la naturaleza del hombre y de Dios. La Universidad Católica, por el encuentro que establece la riqueza del mensaje salvífico del Evangelio y la pluralidad e infinidad de campos del saber, permite a la iglesia establecer un diálogo con todos los hombres  de cualquier cultura. (Ex Corde Ecclesiae Nro.4.6).</p>
            </div>
          </div>

        </section>
        <section id="porqueElegir">
          <div class="row">
            <div class="col-lg-12 col-sm-12">
              <div class="porqueElegir-top">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                      <div class="tituloPorqueElegir">
                        <h2 class="titulo2PorqueElegir">¿Por qué elegirnos?</h2>
                        <span></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <div class="descPorqueElegir wow fadeInUp">
                        <div class="iconPorqueElegir">
                          <span class="fa fa-desktop"></span>
                        </div>
                        <h3>Tecnología</h3>
                        <p>Somos una universidad de jóvenes para jóvenes, con una visión global que busca dar opciones a través de mejores planes de estudio de las licenciaturas e Ingeniería.</p>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <div class="descPorqueElegir wow fadeInUp">
                        <div class="iconPorqueElegir">
                          <span class="fa fa-users"></span>
                        </div>
                        <h3>Profesores Capacitados</h3>
                        <p>Disponemos del mejor sistema de vinculación profesional. El sistema de tutoría orienta, motiva y ayuda a construir la mejor versión profesional de cada estudiante.</p>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <div class="descPorqueElegir wow fadeInUp">
                        <div class="iconPorqueElegir">
                          <span class="fa fa-flask"></span>
                        </div>
                        <h3>Sala de máquinas</h3>
                        <p>Para el desarrollo de habilidades profesionales contamos con laboratorios de: cómputo.</p>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <div class="descPorqueElegir wow fadeInUp">
                        <div class="iconPorqueElegir">
                          <span class="fa fa-support"></span>
                        </div>
                        <h3>Biblioteca</h3>
                        <p>Disponemos de recintos para la recreación y la cultura: biblioteca, galería, auditorios.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <% include partials/modal %>
        <section id="nuestrasCarreras">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="tituloPorqueElegir">
                  <h2 class="titulo2PorqueElegir">Nuestras carreras</h2>
                  <span></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="nuestrasCarreras-lista">
                  <ul class="navCarreras">
                    <li>
                      <div class="descripcionCarrera">
                        <div class="desCarreraImg">
                          <img src="images/carreras/ingenieria.jpg" />
                          <div class="card">
                            <a href="#alertModal" data-toggle="modal" class="carreras-info">Más información</a>
                          </div>
                        </div>
                        <div class="contenidoDesc">
                          <h3 class="nombreCarrera"><a href="#alertModal" data-toggle="modal">Ingeniería Informática</a></h3>
                          <p class="duracionCarrera"><span>Duración:</span> 5 años</p>
                          <p><b>Objetivos:</b> Formar profesionales con sólida formación científica en distintas disciplinas informáticas
                          que sepan desarrollar soluciones informáticas a los problemas que la sociedad moderna nos propone.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="descripcionCarrera">
                        <div class="desCarreraImg">
                          <img src="images/carreras/administracion.jpg" />
                          <div class="card">
                            <a href="#alertModal" data-toggle="modal" class="carreras-info">Más información</a>
                          </div>
                        </div>
                        <div class="contenidoDesc">
                          <h3 class="nombreCarrera"><a href="#alertModal" data-toggle="modal">Administración de Empresas</a></h3>
                          <p class="duracionCarrera"><span>Duración:</span> 5 años</p>
                          <p><b>Objetivos: </b>Formar profesionales dotados con conocimientos técnicos y científicos avanzados que les permitan desempeñarse
                          con eficiencia en puestos gerenciales</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="descripcionCarrera">
                        <div class="desCarreraImg">
                          <img src="images/carreras/contabilidad.jpg" />
                          <div class="card">
                            <a href="#alertModal" data-toggle="modal" class="carreras-info">Más información</a>
                          </div>
                        </div>
                        <div class="contenidoDesc">
                          <h3 class="nombreCarrera"><a href="#alertModal" data-toggle="modal">Ciencias Contables</a></h3>
                          <p class="duracionCarrera"><span>Duración:</span> 5 años</p>
                          <p><b>Objetivos: </b>Formar profesionales con capacidad necesaria para formular, analizar e interceptar estados financieros y
                          proporcionar información contable, con conocimiento y ética profesional en el cumplimiento de disposiciones y obligaciones jurídicas
                        y fiscales.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="descripcionCarrera">
                        <div class="desCarreraImg">
                          <img src="images/carreras/comercio.jpg" />
                          <div class="card">
                            <a href="#alertModal" data-toggle="modal" class="carreras-info">Más información</a>
                          </div>
                        </div>
                        <div class="contenidoDesc">
                          <h3 class="nombreCarrera"><a href="#alertModal" data-toggle="modal">Comercio Internacional</a></h3>
                          <p class="duracionCarrera"><span>Duración:</span> 5 años</p>
                          <p><b>Objetivos:</b> Formar profesionales capaces de detectar oportunidades de negocios en mercados internacionales, de desarrollar programas
                          de comercialización, así como de administrar las operaciones de la empresa en diferentes mercados.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="descripcionCarrera">
                        <div class="desCarreraImg">
                          <img src="images/carreras/derecho.jpg" />
                          <div class="card">
                            <a href="#alertModal" data-toggle="modal" class="carreras-info">Más información</a>
                          </div>
                        </div>
                        <div class="contenidoDesc">
                          <h3 class="nombreCarrera"><a href="#alertModal" data-toggle="modal">Derecho</a></h3>
                          <p class="duracionCarrera"><span>Duración:</span> 6 años</p>
                          <p><b>Objetivos:</b> Proporcionar conocimientos jurídicos para el desempeño profesional en el ámbito de la abogacia, la magistratura
                          y el campo político. La carrera ofrece una formación ética y académica acorde con los principios humanos y cristianos, las actualizaciones
                        e innovaciones en el campo jurídico. </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="descripcionCarrera">
                        <div class="desCarreraImg">
                          <img src="images/carreras/marketing.jpg" />
                          <div class="card">
                            <a href="#alertModal" data-toggle="modal" class="carreras-info">Más información</a>
                          </div>
                        </div>
                        <div class="contenidoDesc">
                          <h3 class="nombreCarrera"><a href="#alertModal" data-toggle="modal">Marketing</a></h3>
                          <p class="duracionCarrera"><span>Duración:</span> 5 años</p>
                          <p><b>Objetivos: </b>Formar graduados con conocimiento, aptitudes y habilidades para aplicar métodos e instrumentos de análisis económicos en
                          diversos contextos institucionales, con capacidad para diseñar, dirigir, ejecutar y controlar planes, programas y proyectos económicos.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="descripcionCarrera">
                        <div class="desCarreraImg">
                          <img src="images/carreras/enfermeria.jpg" />
                          <div class="card">
                            <a href="#alertModal" data-toggle="modal" class="carreras-info">Más información</a>
                          </div>
                        </div>
                        <div class="contenidoDesc">
                          <h3 class="nombreCarrera"><a href="#alertModal" data-toggle="modal">Enfermería</a></h3>
                          <p class="duracionCarrera"><span>Duración:</span> 4 años</p>
                          <p><b>Objetivos:</b> La Carrera de Enfermería pretende crear profesionales capacitados para poder elevar el nivel de la Salud y ayudar
                            a la población paraguaya más necesitada.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="descripcionCarrera">
                        <div class="desCarreraImg">
                          <img src="images/carreras/nutricion.jpg" />
                          <div class="card">
                            <a href="#alertModal" data-toggle="modal" class="carreras-info">Más información</a>
                          </div>
                        </div>
                        <div class="contenidoDesc">
                          <h3 class="nombreCarrera"><a href="#alertModal" data-toggle="modal">Nutrición</a></h3>
                          <p class="duracionCarrera"><span>Duración:</span> 4 años</p>
                          <p><b>Objetivos: </b>Capacitar profesionales en el campo de la Nutrición, capaces de controlar la manutención y sanitación de establecimientos
                          donde manipulan y almacenan alimentos conformes a las normas nacionales e internacionales.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="descripcionCarrera">
                        <div class="desCarreraImg">
                          <img src="images/carreras/trabajo-social.jpg" />
                          <div class="card">
                            <a href="#alertModal" data-toggle="modal" class="carreras-info">Más información</a>
                          </div>
                        </div>
                        <div class="contenidoDesc">
                          <h3 class="nombreCarrera"><a href="#alertModal" data-toggle="modal">Trabajo Social</a></h3>
                          <p class="duracionCarrera"><span>Duración:</span> 4 años</p>
                          <p><b>Objetivos: </b>Pretende formar profesionales capacitados para el análisis y comprensión de los procesos sociales y culturales.
                          La función de agente de cambio, y la formulación de la política y la planificación de programas de bienestar social.</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="tituloPorqueElegir">
              <h2 class="titulo2PorqueElegir">Nosotros</h2>
              <span></span>
            </div>
          </div>
        </div>
        <section id="nuestraHistoria">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-8 col-sm-8">
                <div class="descripcionContenido">
                  <div class="tituloBarCyan">
                    <h2>Misión</h2>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-12 col-sm-12">
                      <p>La <b>Universidad Católica “Nuestra Señora de la Asunción”</b>, servicio y contribución de la Iglesia, busca a partir de los valores
                        éticos-cristianos la excelencia en la gestión de docencia, la investigación y la extensión, contribuyendo a una sociedad justa, solidaria,
                        incluyente, sostenible y respetuosa de la dignidad humana.<br><br></p>
                      <p>*Según Plan Estratégico 2016-2020, elaborado por el Consejo de la Comunidad Universitaria y aprobado por el Consejo General de Gobierno.</p>
                    </div>
                  </div>
                  <div class="tituloBarCyan">
                    <h2>Visión</h2>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-12 col-sm-12">
                      <p>Institución de referencia en la educación superior en el ámbito nacional y regional, por el aporte substantivo a la investigación, innovación y
                        la responsabilidad social, desde la Doctrina Social de la Iglesia, por la calidad humana y profesional y por el compromiso cristiano de sus egresados<br><br><br><br></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h2 class="titulo"></h2>
        </section>
        <% include partials/footer %>
        <% include partials/footerScripts %>
      </body>
    </html>
