<!DOCTYPE html>
<html>
  <% include ../../partials/head %>
  <body>
    <a class="volverArriba" href="#"></a>
    <% include ../../partials/navbar %>
    <% include ../../partials/eventosSidebar %>
    <% include ../../partials/scripts %>
    <% include ../../partials/footerScripts %>
  </body>
</html>
