<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="logo.png"/>
    <title>Universidad Católica - San Ignacio Misiones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/superslides.css">
    <link href="../css/slick.css" rel="stylesheet">
    <link rel="stylesheet prefetch" href="https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/css/jquery.circliful.css">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="../css/queryLoader.css" type="text/css" />
    <link type="text/css" media="all" rel="stylesheet" href="../css/jquery.tosrus.all.css" />
    <link id="switcher" href="../css/themes/default-theme.css" rel="stylesheet">
    <link href="../style.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" type="text/css">
  </head>
  <body>

    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"></a>
    <!-- END SCROLL TOP BUTTON -->

    <!--=========== BEGIN HEADER SECTION ================-->
    <header id="header">
      <div class="menu_area">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">  <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
               <a class="navbar-brand" href="index.html">Universidad <span>Católica</span></a>
              <!-- IMG BASED LOGO  -->
               <!-- <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="logo"></a>  -->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../admision.html">Admisión</a></li>
                <li><a href="../carreras.html">Carreras</a></li>
                <li class="active"><a href="../lista-eventos.html">Eventos</a></li>
                <li><a href="../galeria.html">Galería</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Saber más<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="../unidadpedagogica.html">Unidad Pedagógica<br>(San Ignacio Misiones)</a></li>
                    <li><a href="../nuestra-historia.html">Nuestra Historia</a></li>
                    <li><a href="../identidad.html">Identidad</a></li>
                    <li><a href="../autoridades.html">Autoridades</a></li>
                    <li><a href="../404.html">Sedes y Campus</a></li>
                  </ul>
                </li>
                <li><a href="../contacto.html">Contacto</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <section id="imgBanner">
      <h2>Eventos</h2>
    </section>

    <section id="courseArchive">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="courseArchive_content">
              <div class="row">
                <div class="col-lg-12 col-12 col-sm-12">
                  <div class="single_blog">
                    <div class="events_slider_area">
                      <div class="events_slider">
                        <div><img src="../img/eventos-detalles/30-jun-16/13507175_1015350295253201_3064946290351480236_n.jpg" alt="img"></div>
                        <div><img src="../img/eventos-detalles/30-jun-16/13511977_1015349541919943_8805293831459549154_n.jpg" alt="img"></div>
                        <div><img src="../img/eventos-detalles/30-jun-16/13524457_1015349245253306_4801661074608952180_n.jpg" alt="img"></div>
                        <div><img src="../img/eventos-detalles/30-jun-16/13590467_1015349778586586_3956354939247889837_n.jpg" alt="img"></div>
                        <div><img src="../img/eventos-detalles/30-jun-16/13590471_1015349425253288_5841606563146830678_n.jpg" alt="img"></div>
                      </div>
                    </div>
                    <h2 class="blog_title">Defensa de Tesis Trabajo Social</h2>
                    <div class="blog_commentbox">
                      <p><i class="fa fa-clock-o"></i>30 de Junio de 2016</p>
                      <p><i class="fa fa-map-marker"></i>Lugar: Universidad Pedagógica San Ignacio Guasú Misiones</p>
                    </div>
                    <p>El 29 de junio 6 alumnas de la Carrera de Trabajo Social defendieron sus trabajos de Tesis, finalizando así la Carrera de Grado.
                    Las nuevas profesionales presentaron sus investigaciones y proyectos de alto interés social como:</p>

                    <blockquote>
                      <span class="fa fa-quote-left"></span>
                      Costumbres actuales de las familias en relación con las costumbres tradicionales<span class="fa fa-quote-right"></span>
                    </blockquote>

                    <blockquote>
                      <span class="fa fa-quote-left"></span>
                      Espacios de participación de los adultos mayores<span class="fa fa-quote-right"></span>
                    </blockquote>

                    <blockquote>
                      <span class="fa fa-quote-left"></span>
                      Aporte del Trabajador Social en la Unidad de Salud Mental<span class="fa fa-quote-right"></span>
                    </blockquote>

                    <blockquote>
                      <span class="fa fa-quote-left"></span>
                      Comedor Infantil Maro= “Máximo Roberto”: Aportes para la Calidad de Vida de los Niños Beneficiarios<span class="fa fa-quote-right"></span>
                    </blockquote>

                    <blockquote>
                      <span class="fa fa-quote-left"></span>
                      Realidad Sociocultural y Económica generada por el Consejo de Desarrollo Comunitario en el Asentamiento Urbano<span class="fa fa-quote-right"></span>
                    </blockquote>

                    <blockquote>
                      <span class="fa fa-quote-left"></span>
                      Los Derechos y Obligaciones entre Empleador y Trabajadora Doméstica<span class="fa fa-quote-right"></span>
                    </blockquote>

                    <p>La mesa examinadora estuvo integrada por la Directora de la Unidad Pedagógica de San Ignacio Mgter. Esperanza del Puerto, la Trab. Soc. Celia Etchegaray docente de Nivel de Intervención y, la Mgter. Olga Ortiz de López, Coordinadora Acádemica de la esta Unidad.</p>
                 </div>
                  <div class="single_blog_prevnext">
                    <a class="prev_post wow fadeInLeft" href="#"><i class="fa fa-angle-left"></i>Anterior</a>
                    <a class="next_post wow fadeInRight" href="#">Siguiente<i class="fa fa-angle-right"></i></a>
                  </div>
                </div>
              </div>

              <div class="related_post">
                <h2>Más eventos</h2>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="single_blog_archive wow fadeInUp">
                      <div class="blogimg_container">
                        <a class="blog_img" href="#">
                          <img src="../img/eventos/1.jpg" alt="img">
                        </a>
                      </div>
                      <h2 class="blog_title"><a href="#">VIII Asamblea de los 30 Pueblos</a></h2>
                      <div class="blog_commentbox">
                        <p><i class="fa fa-clock-o"></i>20/May/16</p>
                        <p><i class="fa fa-map-marker"></i>Lugar: San Ignacio Misiones</p>
                      </div>
                      <p class="blog_summary">Asamblea de los 30 Pueblos en la Universidad Católica San Ignacio. Mañana a partir de las 14 horas se abren las inscripciones. Abierta y gratuita a todo público.</p>
                      <a href="#" class="blog_readmore">Saber más</a>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="single_blog_archive wow fadeInUp">
                      <div class="blogimg_container">
                        <a class="blog_img" href="#">
                          <img src="../img/eventos/3.jpg" alt="img">
                        </a>
                      </div>
                      <h2 class="blog_title"><a href="#">Conferencia de Prensa (Techauka)</a></h2>
                      <div class="blog_commentbox">
                        <p><i class="fa fa-clock-o"></i>17/May/16</p>
                        <p><i class="fa fa-map-marker"></i>Lugar: San Ignacio Misiones</p>
                      </div>
                      <p class="blog_summary">El día 17 de mayo, en el Aula Magna de la Universidad, se llevó a cabo una conferencia de prensa para el lanzamiento oficial del Evento Techauka - Feria de Ciencias que se realizará el día 10 de junio.</p>
                      <a href="#" class="blog_readmore">Saber más</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="courseArchive_sidebar">
              <div class="single_sidebar">
                <h2>Más eventos <span class="fa fa-angle-double-right"></span></h2>
                <ul class="news_tab">
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a class="news_img" href="https://www.facebook.com/UniversidadCatolicaSubCampusSanIgnacioGuazu/photos/?tab=album&album_id=989789037809327" target="_blank">
                          <img class="media-object" src="../img/eventos/2.jpg" target="_blank" alt="img">
                        </a>
                      </div>
                      <div class="media-body">
                       <a href="https://www.facebook.com/UniversidadCatolicaSubCampusSanIgnacioGuazu/photos/?tab=album&album_id=989789037809327" target="_blank">Elecciones Estudiantiles</a>
                       <span class="feed_date">18/May/16</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                        <div class="media-left">
                          <a class="news_img" href="https://www.facebook.com/UniversidadCatolicaSubCampusSanIgnacioGuazu/photos/?tab=album&album_id=968442013277363" target="_blank">
                            <img class="media-object" src="../img/eventos/4.jpg" alt="img" target="_blank">
                          </a>
                        </div>
                        <div class="media-body">
                         <a href="https://www.facebook.com/UniversidadCatolicaSubCampusSanIgnacioGuazu/photos/?tab=album&album_id=968442013277363" target="_blank">Videoconferencia Intercampus</a>
                         <span class="feed_date">21/Abr/16</span>
                        </div>
                      </div>
                  </li>
                  <li>
                    <div class="media">
                        <div class="media-left">
                          <a class="news_img" href="https://www.facebook.com/UniversidadCatolicaSubCampusSanIgnacioGuazu/photos/?tab=album&album_id=944864672301764" target="_blank">
                            <img class="media-object" src="../img/eventos/5.jpg" alt="img" target="_blank">
                          </a>
                        </div>
                        <div class="media-body">
                         <a href="https://www.facebook.com/UniversidadCatolicaSubCampusSanIgnacioGuazu/photos/?tab=album&album_id=944864672301764" target="_blank">Via Crucis</a>
                         <span class="feed_date">22/Mar/16</span>
                        </div>
                      </div>
                  </li>
                </ul>
              </div>

              <div class="single_sidebar">
                <h2>Carreras <span class="fa fa-angle-double-right"></span></h2>
                <ul>
                  <li class="active"><a href="../carreras/ingenieria-informatica.html" target="_blank">Ingeniería Informática</a></li>
                  <li><a href="#">Administración de Empresas</a></li>
                  <li><a href="#">Ciencias Contables</a></li>
                  <li><a href="#">Comercio Internacional</a></li>
                  <li><a href="#">Derecho</a></li>
                  <li><a href="#">Marketing</a></li>
                  <li><a href="#">Enfermeria</a></li>
                  <li><a href="#">Nutrición</a></li>
                  <li><a href="#">Trabajo Social</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--=========== BEGIN FOOTER SECTION ================-->
    <footer id="footer">
      <!-- Start footer top area -->
      <div class="footer_top">
        <div class="container">
          <div class="row">
            <div class="col-ld-4  col-md-4 col-sm-4">
              <div class="single_footer_widget">
                <h3>LA UNIVERSIDAD</h3>
                <ul class="footer_widget_nav">
                  <li><a href="../index.html">Inicio</a></li>
                  <li><a href="../admision.html">Admisión</a></li>
                  <li><a href="../carreras.html">Carreras</a></li>
                  <li><a href="../lista-eventos.html">Eventos</a></li>
                  <li><a href="../galeria.html">Galería</a></li>
                  <li><a href="../unidadpedagogica.html">Unidad Pedagógica (San Ignacio Misiones)</a></li>
                  <li><a href="../nuestra-historia.html">Nuestra historia</a></li>
                  <li><a href="../identidad.html">Identidad</a></li>
                  <li><a href="../autoridades.html">Autoridades</a></li>
                  <li><a href="../404.html">Sedes y Campus</a></li>
                  <li><a href="../contacto.html">Contacto</a></li>
                </ul>
              </div>
            </div>
            <div class="col-ld-4  col-md-4 col-sm-4">
              <div class="single_footer_widget">
               <div class="contact_address_index wow">
             <h3>DIRECCIÓN Y CONTACTO</h3><br>
             <div class="address_group">
               <p><i class="fa fa-map-marker"></i> San Ignacio Misiones, Paraguay</p>
               <p><i class="fa fa-car"></i> Ruta IV, Km. 2 e/ Teodoro Brusquetti y Padre Boix</p>
               <p><i class="fa fa-phone"></i> Teléfono: (0782) 232 351</p>
               <p><i class="fa fa-envelope-o"></i> Email: ucasig@gmail.com</p>
             </div>
           </div>
              </div>
            </div>
            <div class="col-ld-4  col-md-4 col-sm-4">
              <div class="single_footer_widget">
                <h3>También estamos en:</h3>
                <ul class="footer_social">
                  <li><a data-toggle="tooltip" data-placement="top" title="Facebook" class="soc_tooltip" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a data-toggle="tooltip" data-placement="top" title="Twitter" class="soc_tooltip"  href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a data-toggle="tooltip" data-placement="top" title="Google+" class="soc_tooltip"  href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a data-toggle="tooltip" data-placement="top" title="Linkedin" class="soc_tooltip"  href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a data-toggle="tooltip" data-placement="top" title="Youtube" class="soc_tooltip"  href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer_bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="footer_bootomLeft">
                <p> Copyright &copy; Todos los derechos reservados</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="footer_bootomRight">
                <p class="fa fa-university"> UCASI - 2016</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--=========== FIN FOOTER SECTION ================-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../js/queryloader2.min.js" type="text/javascript"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/jquery.easing.1.3.js"></script>
    <script src="../js/jquery.animate-enhanced.min.js"></script>
    <script src="../js/jquery.superslides.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js"></script>
    <script type="text/javascript" language="javascript" src="../js/jquery.tosrus.min.all.js"></script>
    <script src="../js/custom.js"></script>
  </body>
</html>
