<!DOCTYPE html>
<html lang="es">

  <% include ../../partials/head %>

  <body>
    <a class="volverArriba" href="#"></a>

    <% include ../../partials/navbar %>

    <section id="portada">
      <h2>Ingeniería Informática</h2>
    </section>

    <section id="descripcionBanner">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="descripcionContenido">
              <div class="row">
                <div class="col-lg-12 col-12 col-sm-12">
                  <div class="portadaSition">
                    <div class="imagenPortadaSite">
                      <a class="imagenPort">
                        <img alt="img" src="#">
                      </a>
                    </div>
                    <h2 class="tituloEvento"><a>Ingeniería Informática</a></h2>
                    <div class="fechayLugar">
                        <p><i class="fa fa-user"></i>Duración</p>
                        <p><i class="fa fa-calendar"></i>5 años + Tesis</p>
                        <p><i class="fa fa-calendar"></i>Mensualidad</p>
                        <p><i class="fa fa-money"></i>360.000 ₲</p><br>
                        <p><i class="fa fa-graduation-cap"></i>Título Intermedio: Técnico Superior en Informática</p><br>
                      <p><i class="fa fa-graduation-cap"></i>Título Final: Ingeniero Informático</p>
                    </div>
                    <h3>Objetivos:</h3>
                    <p>Formar profesionales con:</p>
                    <ul>
                      <li><span class="fa fa-angle-double-right"></span>Fuerte formación físico-matemática, orientada
                        a su aplicación en ciencias y tecnología.
                        Sus conocimientos deben ser tales que
                        le permitan adaptarse a los cambios de la
                        tecnología actual.</li>
                      <li><span class="fa fa-angle-double-right"></span>Capacidad de análisis crítico para descubrir
                        la esencia de los fenómenos del mundo
                        que le rodea y creatividad para innovar
                        en la búsqueda de soluciones a desafíos
                        tecnológicos, en particular aquellos relacionados
                        con el área informática. Dichos
                        esfuerzos deben apuntar al desarrollo sustentable.</li>
                      <li><span class="fa fa-angle-double-right"></span>Dominio de los conocimientos y habilidades
                        en múltiples áreas específicas como
                        ser ingeniería de software, lenguajes de
                        programación, inteligencia artificial, base
                        de datos, sistemas operativos, redes de
                        computadoras, interfaces humano-computador,
                        etc.</li>
                      <li><span class="fa fa-angle-double-right"></span>Capacidad para el trabajo en grupos multidisciplinarios
                        abocados al diseño, desarrollo,
                        implementación y mantenimiento de
                        soluciones informáticas.</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="tituloBarCyan">
                <h2>Plan de Estudios</h2>
              </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="eventosArchivos wow fadeInUp">
                     <!-- TABLA ADMISIÓN -->
                      <table class="table tabMaterias tablaMaterias">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Admisión</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Comunicación Oral y Escrita</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Lógica</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Fe y Ciencias</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Matemática</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Metodología del Aprendizaje</td>
                            <td></td>
                          </tr>
                          <tr>
                              <td class="fa fa-chevron-right"></td>
                              <td>Lógica Matemática</td>
                              <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div> <!-- FIN TABLA ADMISIÓN -->

                  <!-- INICIO PRIMER CURSO -->
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="eventosArchivos wow fadeInUp">
                      <table class="table tabMaterias tablaMaterias">
                        <thead>
                           <tr>
                            <th></th>
                            <th>Primer Curso</th>
                            <th></th>
                           </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Comunicación Oral y Escrita I y II</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Historia del Paraguay</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Misterio Cristiano</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Lógica Matemática</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Geometría Analítica</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Álgebra Aplicada</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Trigonometría Aplicada</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Introducción a la Algoritmia</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Taller de Informática</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div><!-- FIN PRIMER CURSO -->

                  <!-- INICIO SEGUNDO CURSO -->
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="eventosArchivos wow fadeInUp">
                      <table class="table tabMaterias tablaMaterias">
                        <thead>
                           <tr>
                            <th></th>
                            <th>Segundo Curso</th>
                            <th></th>
                           </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Algoritmia I</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Matemática I</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Física I</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Programación I</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Inglés I</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Ética Social I</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Matemática II</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Física II</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Programación II</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Inglés II</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div><!-- FIN SEGUNDO CURSO -->

                  <!-- INICIO TERCER CURSO -->
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="eventosArchivos wow fadeInUp">
                      <table class="table tabMaterias tablaMaterias">
                        <thead>
                           <tr>
                            <th></th>
                            <th>Tercer Curso</th>
                            <th></th>
                           </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Introducción al Análisis</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Programación III</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Base de Datos</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Matemática III</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Física III</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Empresas I</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Arquitectura de Sistemas</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Programación IV</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Matemática IV</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Proyecto</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div><!-- FIN TERCER CURSO -->

                  <!-- INICIO CUARTO CURSO -->
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="eventosArchivos wow fadeInUp">
                      <table class="table tabMaterias tablaMaterias">
                        <thead>
                           <tr>
                            <th></th>
                            <th>Cuarto Curso</th>
                            <th></th>
                           </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Tecnología I</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Investigación de Operaciones</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Ingeniería del Software</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Sistemas Operativos I</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Empresas II</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Inteligencia Artificial</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Telecomunicaciones</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Sistemas Operativos II</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Redes de Computadoras</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div><!-- FIN CUARTO CURSO -->

                  <!-- INICIO QUINTO CURSO -->
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="eventosArchivos wow fadeInUp">
                      <table class="table tabMaterias tablaMaterias">
                        <thead>
                           <tr>
                            <th></th>
                            <th>Quinto Curso</th>
                            <th></th>
                           </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Sistemas Distribuidos</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Tecnología II y Tecnología III</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Multimedia</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Sociologia</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Gerenciamiento de Proyectos</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Metodología de la Investigación</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Compiladores</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Auditoría Informática</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Seminario</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="fa fa-chevron-right"></td>
                            <td>Tesis</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div><!-- FIN CUARTO CURSO -->
                </div>
            </div>
          </div>

          <% include ../../partials/eventosSidebar %>

        </div>
      </div>
    </section>

    <% include ../../partials/footer %>
    <% include ../../partials/footerScripts %>
  </body>
</html>
