<!DOCTYPE html>
<html lang="es">
  <% include ../partials/head %>
  <body>
    <a class="volverArriba" href="#"></a>
    <% include ../partials/navbar %>
    <section id="portada">
      <h2>Admisión</h2>
    </section>
    <section id="descripcionBanner">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="descripcionContenido">
              <div class="descripcionSeccionPortada">
                <div class="descripcionPortada">
                  <img src="images/max/img-11.JPG" alt="img">
                </div>
              </div>
              <div class="descripcion-Carrera">
                <div class="tituloBarCyan">
                  <h2>SOBRE EL CURSO DE ADMISIÓN</h2>
                </div>
                <p>El <b>Sistema de Admisión (CPI)</b>, es aquel mediante el cual el alumno accede a las carreras de grado de la Universidad     Católica; es un componente del sistema que a tráves de un proceso de integración de saberes y experiencias del alumno, permite promover y verificar las competencias básicas para la vida universitaria.</p>
                <h3>OBJETIVOS:</h3>
                <p >&#8226; Desarrollar y capacitar al alumno en las competencias básicas necesarias para el ingreso a la Universidad.</p>
                <p>&#8226; Posibilitar la adquisión de competencias básicas a aquellas que no la poseen.</p>
                <p>&#8226; Evaluar dichas competencias para el acceso a la institución.<br><br></p>
                <table class="table tabMaterias tablaMaterias">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Materias</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="fa fa-chevron-right"></td>
                      <td>Comunicación Oral y Escrita</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="fa fa-chevron-right"></td>
                      <td>Matématica</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="fa fa-chevron-right"></td>
                      <td>Lógica Simbólica</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="fa fa-chevron-right"></td>
                      <td>Metodología del Aprendizaje</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="fa fa-chevron-right"></td>
                      <td>Fe y Ciencia</td>
                      <td></td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <th></th>
                      <th>REQUISITOS PARA LA INSCRIPCIÓN</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="fa fa-chevron-right"></td>
                      <td>Certificado de Estudios secundarios original, debidamente legalizados por el Ministerio de Educación y Cultura</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="fa fa-chevron-right"></td>
                      <td>Certificado de Nacimiento original</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="fa fa-chevron-right"></td>
                      <td>Fotocopia de Cédula de Identidad o documento equivalente</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="fa fa-chevron-right"></td>
                      <td>Cuatro fotografías tipo carnet 3 X 4</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="fa fa-chevron-right"></td>
                      <td>Matrícula de inscripción a ser abonada en la Caja habilitada de la UCASI.</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="fa fa-chevron-right"></td>
                      <td>Solicitud de Admisión.</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="fa fa-chevron-right"></td>
                      <td>El costo de la matrícula es de 390.000 ₲</td>
                      <td></td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <th></th>
                      <th>SISTEMAS Y DURACIÓN</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="fa fa-chevron-right"></td>
                      <td>Tendrá una duración no menor a tres meses (300 a 315 horas).</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="fa fa-chevron-right"></td>
                      <td>El Alumno se inscribirá en la carrera seleccionada.</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="fa fa-chevron-right"></td>
                      <td>Para tener derecho a ser evaluado, el alumno deberá cumplir con el compromiso de asistir como mínimo al 75% de las actividades  académicas presenciales prescriptas para el curso.</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="fa fa-chevron-right"></td>
                      <td>El alumno será evaluado por una multiplicidad de instrumentos adecuadamente validados. La calificación será: aprobado; si alcanza el 60% de rendimiento de las competencias básicas.</td>
                      <td></td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <th></th>
                      <th>HORARIO DE ATENCIÓN DE SECRETARÍA</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="fa fa-chevron-right"></td>
                      <td>Lunes a Viernes de 15:30 a 21:50 hs.</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="fa fa-chevron-right"></td>
                      <td>Teléfono: (0782) 232 351</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="fa fa-chevron-right"></td>
                      <td>Email: ucasig@gmail.com</td>
                      <td></td>
                    </tr>
                  </tbody>
                  <span></span>
                  <p></p>
                </table>
              </div>
            </div>
          </div>
          <% include ../partials/eventosSidebar %>
        </div>
      </div>
    </section>
    <% include ../partials/footer %>
    <% include ../partials/footerScripts %>
  </body>
</html>
