<!DOCTYPE html>
<html lang="es">
<% include ../partials/head %>
  <body>
    <a class="volverArriba" href="#"></a>
    <% include ../partials/navbar %>

    <section id="portada">
      <h2>Carreras</h2>
    </section>

    <section id="descripcionBanner">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="descripcionContenido">
              <div class="row">
                <!-- INICIO INGENIERÍA INFORMÁTICA -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="descripcionCarrera wow fadeInUp">
                    <div class="desCarreraImg">
                      <img src="images/carreras/ingenieria.jpg" />
                      <div class="card">
                        <a href="#" class="carreras-info">Más información</a>
                      </div>
                    </div>
                    <div class="contenidoDesc">
                    <h3 class="nombreCarrera"><a href="#">Ingeniería Informática</a></h3>
                    <p class="duracionCarrera"><span>Duración</span> (5 años + Tesis)</p>
                        <p class="fa fa-graduation-cap"> Título Intermedio (3 años + Proyecto):<br>Técnico Superior en Informática<br></p>
                        <p class="fa fa-graduation-cap"> Título Final: Ingeniero Informático</p>
                    </div>
                  </div>
                </div>

                <!-- FIN INGENIERÍA INFORMÁTICA -->

                <!-- INICIO ADMINISTRACION -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="descripcionCarrera wow fadeInUp">
                    <div class="desCarreraImg">
                      <img src="images/carreras/administracion.jpg" />
                      <div class="card">
                        <a href="#" class="carreras-info">Más información</a>
                      </div>
                    </div>
                    <div class="contenidoDesc">
                    <h3 class="nombreCarrera"><a href="#">Administración de Empresas</a></h3>
                    <p class="duracionCarrera"><span>Duración</span> (4 años y medio)</p>
                    <p class="fa fa-graduation-cap"> Título Intermedio (3 años):<br>Administrador Asistente<br></p>
                    <p class="fa fa-graduation-cap"> Título Final: Licenciado en Administración de Empresas</p>
                    </div>
                  </div>
                </div>
                <!-- FIN ADMINISTRACION -->

                <!-- INICIO CONTABLES -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="descripcionCarrera wow fadeInUp">
                    <div class="desCarreraImg">
                      <img src="images/carreras/contabilidad.jpg" />
                      <div class="card">
                        <a href="#" class="carreras-info">Más información</a>
                      </div>
                    </div>
                    <div class="contenidoDesc">
                    <h3 class="nombreCarrera"><a href="#">Ciencias Contables</a></h3>
                    <p class="duracionCarrera"><span>Duración</span> (5 años)</p>
                    <p class="fa fa-graduation-cap"> Título Intermedio (3 años):<br>Asistente Contable<br></p>
                    <p class="fa fa-graduation-cap"> Título Final: Contador Público Nacional</p>
                    </div>
                  </div>
                </div>
                <!-- FIN CONTABLES -->

                <!-- INICIO COMERCIO -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="descripcionCarrera wow fadeInUp">
                    <div class="desCarreraImg">
                      <img src="images/carreras/comercio.jpg" />
                      <div class="card">
                        <a href="#" class="carreras-info">Más información</a>
                      </div>
                    </div>
                    <div class="contenidoDesc">
                    <h3 class="nombreCarrera"><a href="#">Comercio Internacional</a></h3>
                    <p class="duracionCarrera"><span>Duración</span> (4 años y medio)</p>
                    <p class="fa fa-graduation-cap"> Título Final:<br>Licenciado en Comercio Internacional<br><br><br></p>
                    </div>
                  </div>
                </div>
                <!-- FIN COMERCIO -->

                <!-- INICIO DERECHO -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="descripcionCarrera wow fadeInUp">
                    <div class="desCarreraImg">
                      <img src="images/carreras/derecho.jpg" />
                      <div class="card">
                        <a href="#" class="carreras-info">Más información</a>
                      </div>
                    </div>
                    <div class="contenidoDesc">
                    <h3 class="nombreCarrera"><a href="#">Derecho</a></h3>
                    <p class="duracionCarrera"><span>Duración</span> (6 años)</p>
                    <p class="fa fa-graduation-cap"> Título Final:<br>Abogado<br><br></p>
                    </div>
                  </div>
                </div>
                <!-- FIN DERECHO -->

                <!-- INICIO MARKETING -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="descripcionCarrera wow fadeInUp">
                    <div class="desCarreraImg">
                      <img src="images/carreras/marketing.jpg" />
                      <div class="card">
                        <a href="#" class="carreras-info">Más información</a>
                      </div>
                    </div>
                    <div class="contenidoDesc">
                    <h3 class="nombreCarrera"><a href="#">Marketing</a></h3>
                    <p class="duracionCarrera"><span>Duración</span> (4 años y medio)</p>
                    <p class="fa fa-graduation-cap"> Título Final:<br>Licenciado en Marketing<br><br><br></p>
                    </div>
                  </div>
                </div>
                <!-- FIN MARKETING -->

                <!-- INICIO TRABAJO SOCIAL -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="descripcionCarrera wow fadeInUp">
                    <div class="desCarreraImg">
                      <img src="images/carreras/trabajo-social.jpg" />
                      <div class="card">
                        <a href="#" class="carreras-info">Más información</a>
                      </div>
                    </div>
                    <div class="contenidoDesc">
                    <h3 class="nombreCarrera"><a href="#">Trabajo Social</a></h3>
                     <p class="duracionCarrera"><span>Duración</span> (5 años)</p>
                    <p class="fa fa-graduation-cap"> Título Final:</p>
                    </div>
                  </div>
                </div>
                <!-- FIN TRABAJO SOCIAL -->

                <!-- INICIO ENFERMERÍA -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="descripcionCarrera wow fadeInUp">
                    <div class="desCarreraImg">
                      <img src="images/carreras/enfermeria.jpg" />
                      <div class="card">
                        <a href="#" class="carreras-info">Más información</a>
                      </div>
                    </div>
                    <div class="contenidoDesc">
                    <h3 class="nombreCarrera"><a href="#">Enfermería</a></h3>
                    <p class="duracionCarrera"><span>Duración</span> (4 años)</p>
                    <p class="fa fa-graduation-cap"> Título Final:<br>Licenciado en Enfermería<br><br><br></p>
                    </div>
                  </div>
                </div>
                <!-- FIN ENFERMERÍA -->

                <!-- INICIO NUTRICIÓN -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="descripcionCarrera wow fadeInUp">
                    <div class="desCarreraImg">
                      <img src="images/carreras/nutricion.jpg" />
                      <div class="card">
                        <a href="#" class="carreras-info">Más información</a>
                      </div>
                    </div>
                    <div class="contenidoDesc">
                    <h3 class="nombreCarrera"><a href="#">Nutrición</a></h3>
                    <p class="duracionCarrera"><span>Duración</span> (4 años y medio)</p>
                    <p class="fa fa-graduation-cap"> Título Final:<br>Licenciado en Nutrición<br><br></p>
                    </div>
                  </div>
                </div>
                <!-- FIN NUTRICIÓN -->
              </div>
            </div>
          </div>

          <% include ../partials/eventosSidebar %>
        </div>
      </div>
    </section>

    <% include ../partials/footer %>
    <% include ../partials/footerScripts %>
  </body>
</html>
