<!DOCTYPE html>
<html lang="es">
  <% include ../partials/head %>
  <body>
    <a class="volverArriba" href="#"></a>

    <% include ../partials/navbar %>

    <section id="portada">
      <h2>Contactanos</h2>
    </section>

    <section id="contacto">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="tituloPrincipal">
              <h2 class="titulo2PorqueElegir">Para saber más..</h2>
              <span></span>
              <p></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="formularioContacto wow fadeInLeft">
              <form class="enviarDatos">
                <input type="text" class="ingresarDatos datosTexto" placeholder="Ingrese su nombre" required>
                <input type="mail" class="ingresarDatos datosEmail" placeholder="Ingrese su correo" required>
                <input type="text" class="ingresarDatos datosTexto" placeholder="Asunto" required>
                <textarea class="ingresarDatos datostxtArea" cols="30" rows="10" placeholder="Mensaje..." required></textarea>
                <input type="submit" value="Enviar" class="datosEnviar">
              </form>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="nuestraDireccion wow fadeInRight">
              <h3>Dirección</h3>
              <div class="direccionContacto">
                <p><i class="fa fa-car"></i> Ruta IV, Km. 2 e/ Teodoro Brusquetti y Padre Boix</p>
                <p><i class="fa fa-phone"></i> Teléfono: (0782) 232351</p>
                <p><i class="fa fa-envelope-o"></i> Email: ucasig@gmail.com</p>
                <p><i class="fa fa-map-marker"></i> San Ignacio Misiones, Paraguay</p>
              </div>
              <div class="direccionContacto">
                <ul class="footerRedesSociales">
                  <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" title="Google+"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="mapa">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11969.614208087594!2d-57.03651960979849!3d-26.884840809353978!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xd416e634d777a296!2sUniversidad+Cat%C3%B3lica+Nstra+Sra+de+la+Asunci%C3%B3n!5e0!3m2!1ses-419!2spy!4v1463251394726" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>

    <% include ../partials/footer %>
    <% include ../partials/footerScripts %>
  </body>
</html>
