<!DOCTYPE html>
<html lang="es">
  <% include ../partials/head %>
  <body>
    <a class="volverArriba" href="#"></a>

    <% include ../partials/navbar %>

    <section id="portada">
      <h2>Galería</h2>
    </section>

    <section id="galeriaDeFotos">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div id="fotosSlider" class="areaDeFotos">
              <a href="images/max/img-01.jpg" title="">
                <img class="fotos" src="images/min/img-01.jpg" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-02.JPG" title="">
                <img class="fotos" src="images/min/img-02-2.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-03.JPG" title="">
                <img class="fotos" src="images/min/img-03.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-04.JPG" title="">
                <img class="fotos" src="images/min/img-04.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-05.JPG" title="">
                <img class="fotos" src="images/min/img-05.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-06.JPG">
                <img class="fotos" src="images/min/img-06.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-07.JPG">
                <img class="fotos" src="images/min/img-07.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-08.JPG">
                <img class="fotos" src="images/min/img-08.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-09.JPG" title="">
                <img class="fotos" src="images/min/img-09.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-10.JPG" title="">
                <img class="fotos" src="images/min/img-10.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-11.JPG" title="">
                <img class="fotos" src="images/min/img-11.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-12.JPG" title="">
                <img class="fotos" src="images/min/img-12.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-13.JPG" title="">
                <img class="fotos" src="images/min/img-13.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-14.JPG">
                <img class="fotos" src="images/min/img-14.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-15.JPG">
                <img class="fotos" src="images/min/img-15.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-16.JPG">
                <img class="fotos" src="images/min/img-16.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-17.JPG">
                <img class="fotos" src="images/min/img-17.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-18.JPG">
                <img class="fotos" src="images/min/img-18.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-19.JPG">
                <img class="fotos" src="images/min/img-19.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-20.JPG">
                <img class="fotos" src="images/min/img-20.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-21.JPG">
                <img class="fotos" src="images/min/img-21.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-22.JPG">
                <img class="fotos" src="images/min/img-22.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-24.JPG">
                <img class="fotos" src="images/min/img-24.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
              <a href="images/max/img-25.JPG">
                <img class="fotos" src="images/min/img-25.JPG" alt="img" />
                <span class="verFotos">Ver</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <% include ../partials/footer %>
    <% include ../partials/footerScripts %>

  </body>
</html>
