<!DOCTYPE html>
<html lang="es">
  <% include ../partials/head %>
  <body>
    <a class="volverArriba" href="#"></a>
    <% include ../partials/navbar %>
    <section id="portada">
      <h2>Eventos</h2>
    </section>

    <section id="descripcionBanner">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="descripcionContenido">
              <div class="row">
                <div class="col-lg-12 col-12 col-sm-12">
                  <div class="eventosArchivos wow fadeInUp">
                    <div class="imagenPortadaSite">
                      <a class="imagenPort">
                        <img alt="img" src="images/eventos/1-Defensa%20de%20Tesis.jpg">
                      </a>
                    </div>
                    <h2 class="tituloEvento"><a href="#" target="_blank">Defensa de Tesis Trabajo Social</a></h2>
                    <div class="fechayLugar">
                      <p><i class="fa fa-clock-o"></i>30/Jun/16</p>
                      <p><i class="fa fa-map-marker"></i>Lugar: San Ignacio Misiones</p>
                    </div>
                    <p class="eventoDescripcion">El 29 de junio 6 alumnas de la Carrera de Trabajo Social defendieron sus trabajos de Tesis, finalizando así la Carrera de Grado. </p>
                    <a class="saberMasEvento" href="#" target="__blank">Saber más</a>
                  </div>
                </div>

                <div class="col-lg-12 col-12 col-sm-12">
                  <div class="eventosArchivos wow fadeInUp">
                    <div class="imagenPortadaSite">
                      <a class="imagenPort">
                        <img alt="img" src="images/eventos/1.jpg">
                      </a>
                    </div>
                    <h2 class="tituloEvento"><a href="#">VIII Asamblea de los 30 Pueblos</a></h2>
                    <div class="fechayLugar">
                      <p><i class="fa fa-clock-o"></i>20/May/16</p>
                      <p><i class="fa fa-map-marker"></i>Lugar: San Ignacio Misiones</p>
                    </div>
                    <p class="eventoDescripcion">Los días 20 y 21 de mayo se llevó a cabo la VIII Edición de la Asamblea de los 30 Pueblos Jesuitas Guaraníes. La Asamblea organizada por la Universidad Católica San Ignacio, lleva su octavo año en la realización de este emprendimiento ciudadano ignaciano con el objetivo de conocer y profundizar nuestras raíces histórico culturales para afianzar nuestro presente y proyectarnos al futuro.</p>
                    <a class="saberMasEvento" href="#">Saber más</a>
                  </div>
                </div>

                <div class="col-lg-12 col-12 col-sm-12">
                  <div class="eventosArchivos wow fadeInUp">
                    <div class="imagenPortadaSite">
                      <a class="imagenPort">
                        <img alt="img" src="images/eventos/2.jpg">
                      </a>
                    </div>
                    <h2 class="tituloEvento"><a href="#">Elecciones Estudiantiles</a></h2>
                    <div class="fechayLugar">
                      <p><i class="fa fa-clock-o"></i>18/May/16</p>
                      <p><i class="fa fa-map-marker"></i>Lugar: San Ignacio Misiones</p>
                    </div>
                    <p class="eventoDescripcion">El día miércoles 18 de mayo, se llevaron a cabo las elecciones para el Centro de Estudiantes de la Universidad Católica San Ignacio. Con una gran participación, los alumnos votaron por los candidatos de las Listas MUPED y OPEC, representados por Gualberto Ayala y José Ignacio Sotelo respectivamente, resultando ganador este último. Al día siguiente se realizó la entrega oficial de las Actas y la designación de la nueva Junta Electoral para los Comicios del año siguiente.</p>
                    <a class="saberMasEvento" href="#">Saber más</a>
                  </div>
                </div>
              </div>

              <div class="masEventosSiguiente">
                <a href="#" class="eventoAnterior wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"><i class="fa fa-angle-left"></i>Anterior</a>
                <a href="#" class="eventoSiguiente wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">Siguiente<i class="fa fa-angle-right"></i></a>
              </div>

            </div>
          </div>

          <% include ../partials/eventosSidebar %>

        </div>
      </div>
    </section>

    <% include ../partials/footer %>
    <% include ../partials/footerScripts %>

  </body>
</html>
