<!DOCTYPE html>
<html lang="es">
  <% include ../partials/head %>
  <body>
    <a class="volverArriba" href="#"></a>
    <% include ../partials/navbar %>
    <section id="portada">
      <h2>Eventos</h2>
    </section>

    <section id="descripcionBanner">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="descripcionContenido">
              <div class="row">
                <div class="col-lg-12 col-12 col-sm-12">
                  <div class="eventosArchivos wow fadeInUp">
                    <div class="imagenPortadaSite">
                      <a class="imagenPort">
                        <img alt="img" src="images/eventos/01.jpg">
                      </a>
                    </div>
                    <h2 class="tituloEvento"><a href="#" target="_blank">Festejo por el Día de la Juventud</a></h2>
                    <div class="fechayLugar">
                      <p><i class="fa fa-clock-o"></i>20/Sep/16</p>
                      <p><i class="fa fa-map-marker"></i>Lugar: San Ignacio Misiones</p>
                    </div>
                    <p class="eventoDescripcion">Descripción del evento</p>
                    <a class="saberMasEvento" href="#" target="__blank">Saber más</a>
                  </div>
                </div>

                <div class="col-lg-12 col-12 col-sm-12">
                  <div class="eventosArchivos wow fadeInUp">
                    <div class="imagenPortadaSite">
                      <a class="imagenPort">
                        <img alt="img" src="images/eventos/02.jpg">
                      </a>
                    </div>
                    <h2 class="tituloEvento"><a href="#">CELEBRACIÓN EUCARÍSTICA POR LA JUVENTUD</a></h2>
                    <div class="fechayLugar">
                      <p><i class="fa fa-clock-o"></i>20/Sep/16</p>
                      <p><i class="fa fa-map-marker"></i>Lugar: San Ignacio Misiones</p>
                    </div>
                    <p class="eventoDescripcion">El día 20 de septiembre se celebró la Misa por la Juventud y el compromiso con la sociedad,
                      presidida por Mons. Mario Melanio Medina, en el Aula Magna de la Universidad.</p>
                    <a class="saberMasEvento" href="#">Saber más</a>
                  </div>
                </div>

                <div class="col-lg-12 col-12 col-sm-12">
                  <div class="eventosArchivos wow fadeInUp">
                    <div class="imagenPortadaSite">
                      <a class="imagenPort">
                        <img alt="img" src="images/eventos/03.jpg">
                      </a>
                    </div>
                    <h2 class="tituloEvento"><a href="#">2da. Conferencia Semana Social</a></h2>
                    <div class="fechayLugar">
                      <p><i class="fa fa-clock-o"></i>19/Sep/16</p>
                      <p><i class="fa fa-map-marker"></i>Lugar: San Ignacio Misiones</p>
                    </div>
                    <p class="eventoDescripcion">El lunes 19 de septiembre se llevó a cabo la 2da Conferencia en el marco de la XVI Semana Social
                      de la Universidad Católica San Ignacio Guazú. La conferencia fue dictada por el Lic. Oscar Cáceres, denominada: "Descolonización
                      y construcción del territorio de la comunicación para la vida", de la Serie: Territorio de la comunicación para la vida.
                      El evento se desarrolló en el Aula Magna de la Institución a las 18:00 horas.</p>
                    <a class="saberMasEvento" href="#">Saber más</a>
                  </div>
                </div>
              </div>

              <div class="masEventosSiguiente">
                <a href="#" class="eventoAnterior wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"><i class="fa fa-angle-left"></i>Anterior</a>
                <a href="#" class="eventoSiguiente wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">Siguiente<i class="fa fa-angle-right"></i></a>
              </div>

            </div>
          </div>

          <% include ../partials/eventosSidebar %>

        </div>
      </div>
    </section>

    <% include ../partials/footer %>
    <% include ../partials/footerScripts %>

  </body>
</html>
