<!DOCTYPE html>
<html lang="es">

  <% include ../partials/head %>

  <body>
    <a class="scrollToTop" href="#"></a>

    <% include ../partials/navbar %>

    <section id="error">
      <div class="container">
        <div class="seccionNotFound">
          <h1>404</h1>
          <h2><i class="fa fa-frown-o"></i></h2>
          <h3>Seguímos trabajando en esta sección</h3>
          <p class="wow fadeInLeftBig animated">
            Por favor, continúa informándote volviendo al <a href="/">Inicio</a>
          </p>
        </div>
      </div>
    </section>

    <% include ../partials/footer %>
    <% include ../partials/footerScripts %>

  </body>
</html>
